@charset "utf-8";

/*----------------------------------------
	category
----------------------------------------*/
.categories {
	$font-size: 16;
	padding: fs(5) 0;
	margin: 0 auto;
	font-size: fs($font-size);
	max-width: fs($base-width-big);
	background: #eee;
	overflow: hidden;
	
	h1 {
		display: none;
	}
	
	@include border-radius(4px);

	li{
		float: left;
		width: 20%;
		line-height: fs(60);
		
		#{"/"}width: 19.9%;

		&:first-child a {
			@include border-radius(4px 0 0 4px);
		}
		
		&:last-child a {
			@include border-radius(0 4px 4px 0);
		}
		
		a {
			display: block;
			text-align: center;
			text-decoration: none;
			position: relative;
			border-bottom: 5px solid #fff;

			@include background(inline-image('common/white.gif') repeat-y left top,linear-gradient(top, #fcfcfc 0%, #f4f4f4 60%, #ededed 60%, #fcfcfc 100%));
			#{"/"}background: #fff;
			background/*\**/: #fff \9;
			#{"/"}height: 1%;
			
			&:hover {
				@include opacity(0.6);
			}
			&:active {
				top: 1px;
				left: 1px;
				@include transition(none !important);
			}
		}
		
		$i: 0;
		$border-color: #87d2f1,#e08181,#f6df82,#f8afda,#a7e492;
		@each $category in $categories {
			$i: $i + 1;
			#{"&:nth-child(" +$i + ") a"} {
				color: nth($category-colors,$i);
				border-color: nth($border-color,$i);
			}
		}
	}

@media screen and (max-width: fs($mediaQuery-small,rem,16)) {
	padding: fs(silver-ratio($font-size)) 0;
	display: block;
	background: rgba(#fff,0.9);
	border: 1px solid #fff;
	position: relative;
	color: $linkColor;

	@include arrow-set(10px,2px, $linkColor,'right');
	
	&:after {
		left: 10px;
	}

	&:before {
		content: "カテゴリーの一覧を見る";	
		display: block;
		text-align: center;
	}
		
	&.on {
		padding: 0;
		position: fixed;
		background: rgba(#000,0.5);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		z-index: 5;
		
		&:after,
		&:before {
			display: none;
		}
		
		li {
			display: block;
		}
	}

	li {
		display: none;
		margin: 0 auto;
		float: none;
		width: 92%;
		position: relative;
		top: 10px;
		a {
			border-bottom-width: 1px;
			font-weight: bold;
			&:hover {
				@include opacity(0.9);
			}
		}
		&:first-child a {
			@include border-radius(4px 4px 0 0);
		}
		
		&:last-child a {
			@include border-radius(0 0 4px 4px);
		}
	}
}
}