@charset "utf-8";



/*----------------------------------------
	download
----------------------------------------*/
.download a {
	$font-size: 16;
	$line-height: silver-ratio($font-size);
	$padding: (silver-ratio($font-size) - $font-size) / 2;

	padding: fs($padding) 0;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;

	@include background(linear-gradient(top, #ff3399 0%, #ff5bad 100%));
	@include border-radius(4px);
	@include box-shadow(1px 1px 3px rgba(0,0,0,0.2));

	&:hover {
		position: relative;
		@include opacity(0.6);
		@include transition(0.13s ease-in-out);
	}
	
	&:active {
		top: 1px;
		left: 1px;
		@include box-shadow(none);
		@include transition(none !important);
	}
}

ul.download {
	$font-size: 16;
	$line-height: silver-ratio($font-size);
	$padding: (silver-ratio($font-size) - $font-size) / 2;
	$fix-height: $line-height + $padding * 2;

	overflow: hidden;
	min-height: fs($fix-height);
	li {
		background: none;
		list-style-type: none;
		
		&.download {
			margin-bottom: fs(-$fix-height) !important;
		}
		&.github {
			a {
				border-left: 2px solid #fff;
				padding: fs($padding) fs($font-size);
				float: right;
				position: relative;
				@include background(linear-gradient(top, #8199a8 0%, #425c6c 100%));
				@include border-radius(0 4px 4px 0);
			}
		}
	}
}