@charset "utf-8";

/*----------------------------------------
	pageNav
----------------------------------------*/
.pageNav {
	$font-size: 16;
	$line-height: silver-ratio($font-size);
	$padding: (silver-ratio($font-size) - $font-size) / 2;
	$border: 1;
	$margin: 2;
	$letter-spacing: 2.4;
	$fix-height: $line-height + $padding * 2;
	
	&.off {
		display: block;
	}
	
	dt,
	h2 {
		padding: 0 !important;
		border: none !important;
		background: none transparent;
		max-width: fs($base-width-big) !important;
		line-height: fs($fix-height) !important;
		margin: 0 auto;
		@include fz($font-size);
		
		border-bottom: none !important;
		position: relative;
		letter-spacing: 0 !important;
		list-style-position: inside !important;
		z-index: 2;
		
		a {
			margin-right: fs(($base-width-big - $base-width) / 2);
			padding: 0 fs(12) 0 fs(($base-width-big - $base-width) / 2);
		
			position: relative;
			top: fs($border + $margin);
			display: block;
			float: right;

			background: rgba(#39c,0.7);
			#{"/"}background: #39c;
			background/*\**/: #39c \9;

			color: #fff;
			@include text-shadow(0 0 2px rgba(#39c,0.6));
			@include border-radius(2px);
			@include fz($font-size);
			
			&:hover {
				background: rgba(#39c,1);
			}
			
			&:before {
				content: "×" !important;
				position: absolute;
				display: block;
				top: 0 !important;
				left: fs(12);
			}
		}
	}
	
	dd {
		max-width: inherit !important;	
	}

	&.off {
		dt a,
		h2 a {
			background: inline-image('common/dot.gif')
				repeat
				left top
				#faf8f3;
			color: $linkColor;
			@include text-shadow(none);

			&:hover {
				color: $linkColor_hover;
			}
		
			&:before {
				content: "▼" !important;
				@include fz(11);
			}
		}
	}

	ul,
	ol {
		padding-top: fs($margin);
		margin: fs(silver-ratio($font-size) + $font-size) auto !important;
		border: $border + px solid #fff;
		max-width: fs($base-width-big - $border * 2);
	
		&.off {
			display: none;
		}
		
		ul,
		ol {
			padding-top: 0;
			margin: 0 !important;
			border: none;
			display: block;
		}
	}

	li {
		margin: 0 auto !important;
		padding: 0 !important;
		margin-bottom: fs($margin) !important;
		line-height: fs($line-height) !important;
		letter-spacing: fs($letter-spacing);
		max-width: fs($base-width-big - $border * 2 - $margin * 2) !important;
		display: block;
		list-style-type: none;		list-style-position: outside;
		background: none !important;
		
		a {
			padding: fs($padding) fs(($base-width-big - $base-width) / 2);
			letter-spacing: 0.15em;
			background: rgba(255,255,255,0.7);
			#{"/"}background: #fff;
			background/*\**/: #fff \9;
			display: list-item;
			list-style-type: decimal;
			list-style-position: inside;
			@include fz($font-size);
		
			@include transition(0.13s ease-in-out);
			
			&:hover {
				background: rgba(255,255,255,1);
			}
			
			&[href^="#"]:after {
				top: fs(10);
				right: fs(10);
				position: absolute;
				text-decoration: none;
				display: block;
			}
		}
		
		li {
			&:first-child {
				margin-top: fs(2) !important;
			}

			a {
				padding: 0 fs(($base-width-big - $base-width) / 2 * 2);
			}
		}
	}

	ul  {
		li {
			a {
				list-style-type: disc;
			}
		}
	}

@media screen and (max-width: fs($mediaQuery-large,rem,$mediaQuery-baseSize)) {
	li {
		margin: 0 fs(2) !important;
		margin-bottom: fs(2) !important;

		li {
			margin: 0 !important;			
			margin-bottom: fs(2) !important;
		}
	}
}

@media screen and (max-width: fs($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
	li {
		a {
			padding: fs($padding) fs(10);
		}
		
		li {
			a {
				padding: 0 fs(10 * 2) !important;
			}
		}
	}
}

}