@charset "utf-8";


/*----------------------------------------
	tag
----------------------------------------*/
.tags {
	$font-size: 16;
	padding-top: fs(silver-ratio($font-size));
	margin: 0 auto;
	max-width: fs($base-width-big);
	@include fz($font-size);
	clear: both;
	
	dt {
		$font-size: 20;
		$line-height: silver-ratio($font-size);
		$padding: (silver-ratio($font-size) - $font-size) / 2;
		margin: 0 auto;
		padding: fs($padding) 0;
		line-height: fs($line-height);
		@include fz($font-size);
		font-weight: bold;
		color: #500;
		display: none;
		 
		@include text-shadow-repeat(1px 1px 2px #fff,5);
	}
	
	li {
		$font-size: 13;
		$line-height: $font-size;
		$padding: 2;
		$border: 1;
		$fix-height: $line-height + $padding * 2 + $border * 2;
		$triangle-size: 6;

		margin-left: fs($triangle-size);
		margin-bottom: fs(3);
		@include inline-block;
		@include fz($font-size);
		line-height: fs($font-size);
		
		-webkit-filter: drop-shadow(1px1px 1px rgba(0,0,0,0.1));
			
		&:hover {
			@include rotate(3deg);
		}
		
		a {
			padding: fs($padding) fs(5);
			border: $border + px #fff,0.7;
			
			background: #fff;
			position: relative;

			@include border-radius(0 2px 2px 0);
			@include triangle-set(fs($fix-height) fs($triangle-size),#fff,left);
		}
	}
@media screen and (max-width: fs($mediaQuery-large,rem,16)) {
	margin-left: fs(10);
	margin-right: fs(10);
}

@media screen and (max-width: fs($mediaQuery-small,rem,16)) {
	margin: 0;
	padding: fs(silver-ratio($font-size)) 0;
	display: block;
	background: rgba(#fff,0.8);
	border: 1px solid #fff;
	position: relative;
	color: $linkColor;

	@include arrow-set(10px,2px, $linkColor,'right');
	
	&:after {
		left: 10px;
	}

	&:before {
		content: "タグの一覧を見る";	
		display: block;
		text-align: center;
	}
		
	&.on {
		padding: 0;
		position: fixed;
		background: rgba(#000,0.5);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		z-index: 5;
		
		&:after,
		&:before {
			display: none;
		}
		
		ul {
			margin: fs(10);
		}
		
		li {
			display: inline-block;
		}
	}

	li {
		display: none;
	}
}
}