@charset "utf-8";


/*----------------------------------------
	tag
----------------------------------------*/
.tags {
	$font-size: 16;
	padding-top: fs(silver-ratio($font-size));
	margin: 0 auto;
	max-width: fs($base-width-big);
	@include fz($font-size);
	clear: both;
	
	dt {
		$font-size: 20;
		$line-height: silver-ratio($font-size);
		$padding: (silver-ratio($font-size) - $font-size) / 2;
		margin: 0 auto;
		padding: fs($padding) 0;
		line-height: fs($line-height);
		@include fz($font-size);
		font-weight: bold;
		color: #500;
		display: none;
		 
		@include text-shadow-repeat(1px 1px 2px #fff,5);
	}
	
	li {
		$font-size: 13;
		$line-height: $font-size;
		$padding: 2;
		$border: 1;
		$fix-height: $line-height + $padding * 2 + $border * 2;
		$triangle-size: 6;

		margin-left: fs($triangle-size);
		margin-bottom: fs(3);
		@include inline-block;
		@include fz($font-size);
		line-height: fs($font-size);
			
		&:hover {
			@include rotate(3deg);
		}
		
		a {
			padding: fs($padding) fs(5);
			border: $border + px #fff,0.7;
			
			background: #fff;
			position: relative;
			text-decoration: none;

			@include border-radius(0 2px 2px 0);
			@include triangle-set(fs($fix-height) fs($triangle-size),#fff,left);
		
			@include box-shadow(1px1px 1px rgba(0,0,0,0.2));
		}
	}
@media screen and (max-width: fs($mediaQuery-large,rem,$mediaQuery-baseSize)) {
	margin-left: fs(10);
	margin-right: fs(10);
}
}