@charset "utf-8";

@import "_extension_import";

@import "_module/_category",
"_module/_data",
"_module/_detailsSelect",
"_module/_dl.table",
"_module/_download",
"_module/_em",
"_module/_pageNav",
"_module/_pagetop",
"_module/_service",
"_module/_tags",
"_module/_commntList";

/*----------------------------------------
	img
----------------------------------------*/
.main {
	$font-size: 16;
	margin: es(silver-ratio($font-size) + $font-size) auto !important;
	max-width: es($base-width-big) !important;
	max-height: es(silver-ratio($base-width-big) - $base-width-big) !important;
	overflow: hidden;
	
	img {
		width: es($base-width-big);
	}
}

img.noResize,
.noResize img,
table img {
	width: inherit !important;
	height: inherit !important;
}

.noResize {
	text-align: center;
	a {
		display: block;
	}
}

/*----------------------------------------
	center
----------------------------------------*/
.center {
	text-align: center;
}

/*----------------------------------------
	Float
----------------------------------------*/
figure.img_R img {
	margin-left: es(($base-width-big - $base-width) / 2);
	width: es($base-width - silver-ratio($base-width,true)) !important;
	float: right;
	height: auto;
	
	@media screen and (max-width: 480px) {
		 width: 100% !important;
	}
}

/*----------------------------------------
	more
----------------------------------------*/
p.more {
	margin-bottom:  es(silver-ratio(-$font-size)) !important;
}

/*----------------------------------------
	reaction
----------------------------------------*/
.reaction {
	$font-size: 16;
	margin: 0 auto;
	max-width: es($base-width,16);
	line-height: es(silver-ratio($font-size));
	text-align: right;
	@include fz($font-size);

	li {
		margin-left: es($font-size);
		@include inline-block;
	}
	@media screen and (max-width: es($mediaQuery-middle,rem,16)) {
		margin-right: es(10);
	}
}
