@charset "utf-8";

@import "_extension_import";

/*----------------------------------------
	index
----------------------------------------*/
$fix-height: "";
body#index {
	#header .topicpath {
		visibility: hidden;
	}
	
	#header .description {
		$font-size: 25;
		$line-height: silver-ratio($font-size);
		$padding: (silver-ratio($header-height) - $line-height) / 2;
		$boder: 2;
		$fix-height: $line-height + $padding * 2 + $boder;
		
		padding: es($padding) 0;
		@include fz($font-size);
		line-height: es($line-height);
		margin: 0;
		width: 100%;
		display: block;
		text-align: center;
		
		position: absolute;
		top: es($header-height);
		color: rgba($linkColor,0.4);
			
		#{"/"}color: $linkColor;
		color/*\**/: $linkColor \9;

		@include text-shadow-repeat(0 0 3px rgba(#fff,1),5);
	}
	
	main {
		padding-top: 1px;

		h1:first-child {
			display: none; 
		}
		
		article article h1 {
			display: block !important;
		}
	}
	
	.categories {
		$font-size: 16;
		margin-top: es($fix-height - 1);
	}

	@media screen and (max-width:  es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
		#header .description {
			display: none;
		}
	
		.categories {
			margin-top: 0;
		}
	}
}

/*----------------------------------------
	List
----------------------------------------*/

body.search main,
body.category main,
body#index {

	article article {
		$font-size: 16;
		$border: 2;

		padding: es(silver-ratio($font-size)) 0;

		h1 {
			$font-size: 20;
			padding: es(8) es(($base-width-big - $base-width) / 2);
			margin-bottom: 0;
			border: none;
			border-bottom: $border + px solid #fff;
			position: relative;
			max-width: es($base-width);
			text-align: left;
			background: inline-image('common/entry_bg.gif') !important;
			z-index: 3;
			@include fz(20);
			@include border-radius(4px 4px 0 0);
			@include text-shadow(none);
			@include box-shadow(1px 1px 3px rgba(0,0,0,0.2));
			
			#{"/"}width: es(650);
			
			a {
				color: #fff;
				&:hover {
					color: #ff0;
				}
			}
		}
	
		.content {
			 padding-bottom: 0;
		}
		
		&.off {
			padding-bottom: 0;
			
			footer,
			.content {
				display: none;
			}
			
			.data {
				margin-bottom: 2px;
			}
		}
		
		@media screen and (max-width:  es($mediaQuery-large,rem,$mediaQuery-baseSize)) {
			h1 {
				margin-left: es(10) !important;
				margin-right: es(10) !important;
			}
			
			ul.data {
				margin-left: es(10)  !important;
				margin-right: es(10)  !important;
			}
		}
		
		@media screen and (max-width:  es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
			h1 {
				padding: es(8) es(10);
			}
		}
		@media screen and (max-width:  es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
			padding-bottom: 0;
			
			footer,
			.content {
				display: none;
			}
			
			.data {
				margin-bottom: 2px;
			}
		}
	}
	
	p.pagetop {
		background: transparent !important;
	}
}

body {
	$i: 0;
	@each $category in $categories {
		$i: $i + 1;
		#{"&#" + $category + " main h1"} {
			background: image-url('category_color/#{$category}.gif');
			background: inline-image('category_color/#{$category}.gif');
		}
	}

	&.search main h1 {
		background: rgba(#fff,0.7);
		color: $linkColor;

		#{"/"}background: #fff;
		background/*\**/: #fff \9;
	}
}


/*----------------------------------------
	comments & trackbacks Common
----------------------------------------*/
section#comments,
section#trackbacks {
	padding-bottom: 1px;
	h2 {
		color: $linkColor;
	}
}


dl.log {
	$font-size: 16;
	$line-height: silver-ratio($font-size);
	$padding: $line-height - ((silver-ratio($font-size) - $font-size) / 2);
	$border: 1;

	max-width: es($base-width);
	line-height: es($line-height);
	@include fz($font-size);
	border-top: $border + px solid #dcc;
	border-bottom: $border + px solid #fff;
	margin: es($padding) auto;
	color: #500;
	
	dt {
		padding: es($padding) 0 es($padding / 2) 0;
		border-top: 1px solid #fff;
		
		span {
			color: #dcc !important;
		}
		
		&:target {
			color: $linkColor !important;
			@include animation-name(blink);
			@include animation-duration(5s);
			@include animation-timing-function(ease);
			@include animation-iteration-count(infinite);
			& + dd {
				@extend dt:target;
				
				p {
					color: $linkColor !important;
				}
			}
			
			&:nth-of-type(even) {
				@include animation-name(blink2);
			}
		}
		
		&:nth-of-type(even) {
				background: rgba(#fff,0.5);
		}
	}
	dd {
		padding-bottom: es($padding);
		border-bottom: $border + px solid #dcc;
		
		p {
			color: #744 !important;
		}
		&:nth-of-type(even) {
			background: rgba(#fff,0.5);
		}
	}
	
	
	@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
		dt,
		dd {
			padding: es(10) es(10);
		}
	}
}

/*----------------------------------------
	comments
----------------------------------------*/
section#comments {
	$font-size: 16;
	$border: 5;
	$line-height: silver-ratio($font-size);
	$padding: silver-ratio($font-size) - $font-size;
	$width:  $base-width - silver-ratio($base-width,true);
	padding-bottom: es($line-height);
	border-top: $border + px solid #fff;
	background: rgba(#fff,0.45);

	h2 {
		margin-top: -2px;
	}
	
	dl.form {
		margin: 0 auto;
		max-width: es($base-width);
		color: #500;
	
		@include box-sizing(border-box);

		$border: 2;

		dt {
			line-height: es($line-height);
			margin-right: es(-$width,'%',$base-width) !important;
			width: es($width,'%',$base-width);
			padding: es($padding) 0;
			border-top: $border + px dashed #dcc;
			float: left;
			clear: both;
			display: inline;
			position: relative;
			
			color: $linkColor;
	
			&:nth-of-type(1)  {
				margin-top: 0 !important;
				border-top: none;
			}
			
			&.comment span {
				display: none;
			}
		}
	
		dd {
			line-height: es($line-height);
			margin-left: es($width,'%',$base-width);
			padding: es($padding) 0;
			border-top: $border + px dashed #dcc;
			
			input,
			textarea {
				width: 100%;
			}
			&.info input {
				width: inherit;
			}
	
			&:nth-of-type(1)  {
				margin-top: 0;
				border-top: none;
			}
		}
		
		@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
			margin-right: es(10);
			margin-left: es(10);
		}
		
		@media screen and (max-width: es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
			dt {
				margin-right: 0 !important;
				border: none;
				width: auto;
			}
			dd {
				margin-left: 0;
				margin-bottom: es(5);
				border: none;
				line-height: es(22);
			}
		}
	}
	
	p#comments-open-footer {
		$font-size: 16;
		$line-height: silver-ratio($font-size);
		$padding: silver-ratio($font-size) - $font-size;
		margin: 0 auto;
		max-width: es($base-width);
		text-align: center;
		
		input {
			@include inline-block;
			padding: es($padding) 0;
			line-height: es($line-height);
			width: 48%;
			
			&.post:first-child {
				margin-right: 0;
				width: 100%;
			}
			
			&:first-child {
				margin-right: 4%;
			}
		}
		
		@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
			margin-right: es(10);
			margin-left: es(10);
		}
	}
}

/*----------------------------------------
	trackbacks
----------------------------------------*/
section#trackbacks {
	$font-size: 16;
	padding-bottom: 1px;
	background: rgba(#fff,0.45);
	
	p.url {
		margin: 0 auto;
		max-width: es($base-width);
		font-size: fz($font-size);
		color: #500;
		@media screen and (max-width: es($mediaQuery-middle,rem,$mediaQuery-baseSize)) {
			padding: es(10) es(10);
		}
	}
}

/*----------------------------------------
	page
----------------------------------------*/
body.page,
body#list {
	article {
		h1 {
			background: rgba(#fff,0.7);
			color: $linkColor;
		}
	}

	p.pagetop {
		background: transparent !important;
	}
}

/*----------------------------------------
	cgi
----------------------------------------*/
body.search,
body#comment_preview,
body#comment_error,
body#comment_thanks {
	main {
		h1 {
			$font-size: 16;
			margin-bottom: es(silver-ratio($font-size) + $font-size);
		}
	}
	
	.detailsSelect {
		margin-top: -(es(silver-ratio($font-size) + $font-size));
	}
	
	p.pagetop {
		background: transparent !important;
	}
	
	@media screen and (max-width:  es($mediaQuery-small,rem,$mediaQuery-baseSize)) {
		main {
			h1 {
				margin-bottom: 0;
			}
		}
	}
}